extends layout

block content
  include author

  p.introduction Si les élites ont confisqué la parole politique, reprenons-la ! Les Expériences Politiques sont une semaine de conférences, débats, projections et ateliers pour explorer les alternatives politiques d'aujourd'hui. Intelligence collective, tirage au sort, contrôle des élus, revenu de base, assemblées citoyennes… Les pistes sont nombreuses, à nous de les expérimenter !&nbsp;
    a(href='/a-propos/') En savoir plus.

  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          != typogr(article.intro).typogrify()
        if article.hasMore
          p.more
            a(href=article.url) lire la suite

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Page précédente
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Page suivante »
